<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Narrow Down Your Menu Choice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-app="NarrowItDownApp">
  <div class="container" ng-controller="NarrowItDownController as ctrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div class="form-group row">
      <div class="col-xs-4">
        <input type="text"  placeholder="search term" class="form-control"
        ng-model="ctrl.searchTerm" >
      </div>
      <div class="col-xs-2 narrow-button">
        <button class="btn btn-primary"
          ng-click="ctrl.getMatchedMenuItems(ctrl.searchTerm)">
          Narrow It Down For Me!
        </button>
      </div>
      <p class="text-info">use following example terms: vegetables, veal, chicken, beef, vegetables, mushrooms, carrots, broccoli, beans, onions, duck, egg, soup, pancake, ...</p>
    </div>
    <!-- found-items should be implemented as a component -->
    <found-items ng-show="ctrl.showTable" found-items="ctrl.found"
      on-remove="ctrl.removeItem(index)">
    </found-items>
    <div class="alert alert-warning" ng-show="ctrl.showWarning">
      Nothing found!
    </div>
  </div>

<script src="../../js/angular.min.js" type="text/javascript"></script>
<script src="app.js" type="text/javascript"></script>
</body>
</html>